extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Jeffrey Meesters
        p.lead.text-light
          | Jr. front-end webdeveloper

        .portfolio-bio
          p
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.
            br
            br
            | So naturally I'm already working for a company...

        .quote
          span.quote-text
            | "**** again a perfect developer snatched away right in front of my eyes!"

        .portfolio-bio
          p
            | Still you can see how awesome I keep on learning and developing my skills to become even better!
            br
            br
            | Feel free to look around and check out my Team Treehouse projects.
            br
            br
            | Greetings,

          .lead.text-light Jeffrey Meesters

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li Node
          li Vue
          li Jquery
          li Ajax/XMLHttpRequest
          li Sass/less/css
          li HTML
          li PHP
          li SQL
          li ES2015
        h6 Contact Info

        //- left it as is, because I don't want to share it online
        ul
          li 555-555-1234
          li email@email.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/jmeesters/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/Jeffrey-Meesters' target='_blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
