extends layout.pug

block content
  article.grid-container.portfolio-intro
    div
      h1 This is my awesome new portfolio!

      p.lead.text-light
        | This is my portfolio made during the Fullstack JavaScript techdegree course. <br>
        | This site runs with Node, Express, static data and lots of JS!
  article.grid-container.portfolio-index

    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      //- Looked it up on: https://pugjs.org/language/iteration.html
      each project in projects
        .cell
            a(href=`/project/${project.id}`)
              img.thumbnail(src=`${project.image_urls[0]}`)
              h5= project.project_name
